<app-header-nav>

  <section class="csa--wrapper">

    <!-- banner section -->
    <div class="banner--wrapper" style="background-image: url('assets/images/banner.png')">
      <div class="banner--containt">
        <h1>
          The private security setup for your
          gated community
        </h1>
        <p>We value your privacy and your security is our main concern. </p>
        <button mat-raised-button color="accent" class="see--btn">See How CSA Works</button>
      </div>
    </div>


    <!-- Feature banner -->
    <div class="feature--banner">
      <div fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25">
          <div class="feature--box">
            <img src="../assets/images/gates.png" alt="">
            <h5>Controlled
              pre-approved Entry</h5>
            <p>We keep the entry/exit track of community visitors.</p>
          </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25">
          <div class="feature--box simple">
            <img src="../assets/images/communication.png" alt="">
            <h5>Simple and Fast
              communications
              with residents</h5>
            <p>Simple and Fast communications with residents</p>
          </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25">
          <div class="feature--box alert">
            <img src="../assets/images/singleclick.png" alt="">
            <h5>Alert signal with a
              click of a button</h5>
            <p>Communication with guards and/or administration
              made simple and fast.</p>
          </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25">
          <div class="feature--box resident">
            <img src="../assets/images/tools.png" alt="">
            <h5>Resident Management
              tools </h5>
            <p>Control who, when and for how long guest are
              authorized.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- about security -->
    <div class="container">
      <div class="about--security--wrapper">
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <div fxFlex.xs="100" fxFlex.sm="45" fxFlex.md="45" fxFlex.lg="50" fxFlex.xl="50">
            <img alt="" class="img-fluid" src="assets/images/aboutimg.png">
          </div>
          <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="45" fxFlex.xl="40">
            <h4>About Community
              Security App</h4>
            <p>All residential communities are born with the need to keep unwanted guests out. But how many gated
              communities actually keep track of who comes in and in trying to do so, how long does it takes your guest
              to
              come in?</p>
            <p>CSA allows you to take control of your community making sure that each guest is actually invited and
              documented from even before arriving, making the entrance process much faster, organized and secure giving
              you many options and tools to keep your peace of mind at rest all the while knowing that your private
              information is kept private.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- How it work -->
    <div class="how--wrapper">
      <div class="container">
        <h2 class="text-center">How It Works</h2>
        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <div class="content">
              <img src="../assets/images/signup.png" alt="">
              <h5>1.Sign up and add community details</h5>
              <p>Register yourself on the website and use exciting features.</p>
            </div>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <div class="content">
              <img src="../assets/images/-e-upload.svg" alt="">
              <h5>2.Upload residents and security guard
                info</h5>
              <p>Maintain the records of your community members and security guards in the same place.</p>
            </div>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <div class="content">
              <img src="../assets/images/logs.png" alt="">
              <h5>3.Keep track of the visitor entry and
                exit logs</h5>
              <p>Give your residents the power to approve theirs guest and not rely on your guards guessing if they
                should or should not allow people in.
              </p>
            </div>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <div class="content">
              <img src="../assets/images/-e-broadcast.svg" alt="">
              <h5>4.Broadcast messages to the
                community</h5>
              <p>Take control over your communications within your community targeting from one to all residents. Avoid
                having to search for personal information to contact a resident and do it thru a couple clicks of a
                button.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- User feedback -->
    <div class="container">
      <div class="user--feedback">
        <h2 class="text-center">User Feedback</h2>
        <p class="text-center">User’s contentment is of paramount significance for us. Take a look at what our client
          has to say about us!
        </p>
      </div>
    </div>

    <!-- feature companies -->
    <div class="feature--comapanies">
      <div class="container f-wrap">
        <div class="items">
          <img src="../assets/images/fastcompany.png" alt="">
        </div>
        <div class="items">
          <img src="../assets/images/forbes.png" alt="">
        </div>
        <div class="items">
          <img src="../assets/images/inc.png" alt="">
        </div>
        <div class="items">
          <img src="../assets/images/forbes.png" alt="">
        </div>
        <div class="items">
          <img src="../assets/images/fastcompany.png" alt="">
        </div>
      </div>
    </div>

    <!-- subscription -->
    <div class="container">
      <div class="subscription--wrapper">
        <h2 class="text-center">Subscription Plans </h2>
        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">

            <mat-card class="plan--box text-center">
              <mat-card-header>
                <mat-card-title>Basic</mat-card-title>
                <mat-card-subtitle class="amt mb-0"><span>$</span>0</mat-card-subtitle>
                <mat-card-subtitle class="pm">per month</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <ul class="m-0 p-0">
                  <li>
                    1 Account
                  </li>
                  <li>
                    8 hour support
                  </li>
                  <li>
                    Custom Cloud Services
                  </li>
                </ul>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button class="get--stat--btn">Get Started</button>
              </mat-card-actions>
            </mat-card>

          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">

            <mat-card class="plan--box text-center security">
              <mat-card-header>
                <mat-card-title>Security</mat-card-title>
                <mat-card-subtitle class="amt mb-0"><span>$</span>50</mat-card-subtitle>
                <mat-card-subtitle class="pm">per month</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <ul class="m-0 p-0">
                  <li>
                    2 Account
                  </li>
                  <li>
                    100MB storage
                  </li>
                  <li>
                    Custom Cloud Services
                  </li>
                </ul>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button class="get--stat--btn">Get Started</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
            <mat-card class="plan--box text-center admin">
              <mat-card-header>
                <mat-card-title>Security and Admin </mat-card-title>
                <mat-card-subtitle class="amt mb-0"><span>$</span>75 </mat-card-subtitle>
                <mat-card-subtitle class="pm">per month</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <ul class="m-0 p-0">
                  <li>
                    8 Account
                  </li>
                  <li>
                    24 hour support
                  </li>
                  <li>
                    Custom Cloud Services
                  </li>
                </ul>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button class="get--stat--btn">Get Started</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact us -->
    <div class="contactus--wrapper" style="background-image: url('../assets/images/contact.png')">
      <h2 class="text-center">Contact Us Today! </h2>
      <p class="text-center"> We'd love to hear from you!</p>
      <div class="contact--form">
        <form>
          <mat-form-field class="full--width" appearance="outline">
            <mat-label>Email Address*</mat-label>
            <input matInput placeholder="john@abc">
          </mat-form-field>
          <mat-form-field class="full--width" appearance="outline">
            <mat-label>Message</mat-label>
            <textarea matInput placeholder="Write Your Message Here"></textarea>
          </mat-form-field>
          <button mat-raised-button color="accent" class="contactus--btn">Contact Us</button>
        </form>
      </div>
    </div>

    <!-- Newsletters -->
    <div class="newsletter--wrapper">
      <div class="container">
        <div fxLayout="row wrap" class="align--items--center">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="60" fxFlex.xl="60">
            <h5>Get The Latest Articles Direct to Your Inbox.
            </h5>
            <p>Sign up for our newsletter today!</p>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40" class="start--free">

            <form class="news--form">
              <mat-form-field appearance="outline">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="john@abc">
              </mat-form-field>
              <button mat-raised-button class="submit--btn">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="main--footer--wrapper">
      <div class="container">
        <div fxLayout="row wrap">
          <div fxFlex.xs="100" fxFlex.sm="25" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
            <h5 class="footer--header">
              <a>
                <img alt="logo" src="../../../../assets/images/logo-header.svg">
              </a>
            </h5>
            <div class="company--address">
              <div class="cont--wrap">
                <mat-icon class="footer-icon">location_on</mat-icon>
                <div class="tag--info">
                  3628, 34th Floor Leisure Lane,
                  Los Angeles, CA</div>
              </div>
              <div class="cont--wrap">
                <mat-icon class="footer-icon">email</mat-icon>
                <div class="tag--info">
                  <a class="f--link" href="mailto:support@legacylifeplan.com"> test@test.com</a>
                </div>
              </div>
              <div class="cont--wrap">
                <mat-icon class="footer-icon">local_phone</mat-icon>
                <div class="tag--info"> +102 (111) 4563210 </div>
              </div>
            </div>

          </div>
          <div fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="78" fxFlex.lg="78" fxFlex.xl="75" class="pl--50">
            <h5 class="footer--header">Services</h5>
            <div fxLayout="row wrap">
              <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
                <ul class="footer--services">
                  <li>
                    <a href="#">Services</a>
                  </li>
                  <li>
                    <a>About Us</a>
                  </li>
                  <li>
                    <a>Gate Security</a>
                  </li>
                  <li>
                    <a>Street Security</a>
                  </li>
                  <li>
                    <a>Common Area Security</a>
                  </li>
                  <li>
                    <a>Homes Security</a>
                  </li>
                </ul>
              </div>
              <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
                <ul class="footer--services">
                  <li>
                    <a href="#">About Security CSA</a>
                  </li>
                  <li>
                    <a href="#">How CSA Works</a>
                  </li>
                  <li>
                    <a href="#">Testimonials</a>
                  </li>
                  <Li>
                    <A href="#">Pricing </A>
                  </Li>

                  <li>
                    <a>Contact US</a>
                  </li>

                </ul>

              </div>
              <div fxFlex.xs="100" fxFlex.sm="33.33" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
                <ul class="footer--services">
                  <li>
                    <a href="#">terms of Usage</a>
                  </li>
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>

                </ul>
                <div class="social--icons">
                  <ul class="m-0 p-0">
                    <li>
                      <a title="Facebook">
                        <mat-icon>email</mat-icon>
                      </a>
                    </li>
                    <li>
                      <a title="Instagram">
                        <mat-icon>email</mat-icon>
                      </a>
                    </li>
                    <li>
                      <a title="Linkdin">
                        <mat-icon>email</mat-icon>
                      </a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Copyright footer -->
    <footer class="copyright--footer">
      <p>© 2019 Community Security App</p>
    </footer>


    <!-- Back to top -->
    <div class="back--to--top" (click)="gotoTop()">
      <mat-icon>arrow_upward</mat-icon>
    </div>

  </section>
</app-header-nav>
<router-outlet></router-outlet>