@import 'styles.scss';

.csa--wrapper{

    height: calc(100vh - 131px);
    overflow: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid #ddd;

    // Banner
    .banner--wrapper{
        height: 55vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;        

        .banner--containt{
            background-color: rgba(16, 16, 16, 0.5);
            width: 52%;
            margin: 0 auto;
            color: #fff;
            padding: 40px 45px;
            h1{
                font-size: 38px;
                margin: 0;
                text-transform: uppercase;
                line-height: 48px;                
            }
            p{
                font-size: 19px;    
                margin: 20px 0 25px 0;
                font-family: $font--1;
            }
            .see--btn{
                width: 203px;
                height: 50px;
                border-radius: 2px;
                background-color: #00d797;
                font-size: 14px;
                color: #fff;
                font-family: $font--1--medium !important;
            }
        }
    }

    // Feature Banner
    .feature--banner{
        .feature--box{
            height: 250px;
            background-color: #38b8f3;
            padding: 20px 25px;
            text-align: center;
            img{
                height: 58px;
            }

            h5{
                font-size: 28px;
                font-family: $font--1--medium !important;
                margin: 20px 0 12px 0;
                color: #fff;
                text-transform: uppercase;
                min-height: 60px;
                overflow: auto;
                max-height: 90px;
            }
            p{
                font-size: 16px;
                color: #fff;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &.simple{
                background-color: #6584fb;
            }
            &.alert{
                background-color: #83d382;
            }
            &.resident{
                background-color: #3bb994;
            }

        }
    }

    // about security
    .about--security--wrapper{
        margin: 100px 0;
        h4{
            font-size: 48px;
            color: #333;
            font-family: $font--1--medium !important;
            line-height: 46px;
            margin:0 0 30px 0;
        }
        p{
            font-size: 16px;
            color: #333;
        }
    }

    // How it work 
    .how--wrapper{
        background-color: #fafafa;
        padding: 90px 0 40px 0;
        h2{
            font-size: 48px;
            margin: 0 0 60px 0;
            color: #333;
            font-family: $font--1--medium !important;
        }
        .content{
            padding-right: 50px;
            margin-bottom: 50px;
            img{
                margin-bottom: 25px;
            }
            h5{
                font-size: 28px;
                margin: 0 0 15px 0;
                color: #333;
                line-height: 31px;
                font-family: $font--1--medium !important;
            }
            p{
                margin: 0;
                color: #333;
                font-size: 16px;
            }
        }
       
    }

    // User feedback
    .user--feedback{
        padding: 90px 0;
        h2{
            font-size: 48px;
            color: #333;
            font-family: $font--1--medium !important;
            line-height: 46px;
            margin:0 0 30px 0;
        }
        p{
            font-size: 16px;
            color: #333;
            margin-bottom: 50px;
        }
    }

    // Feature companies
    .feature--comapanies{
        background-color: #fafafa;
        padding: 90px 0 40px 0;
        
        .f-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .items{
            margin:0 15px;
        }
    }

    // Subscription
    .subscription--wrapper{
        padding: 90px 0;
        h2{
            font-size: 48px;
            margin: 0 0 90px 0;
            color: #333;
            font-family: $font--1--medium !important;
        }
        .plan--box{
            box-shadow: none;
            background-color: #38b8f3;
            padding: 40px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 3px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            .mat-card-header{
                margin-bottom: 10px;
                ::ng-deep .mat-card-header-text{
                    width: 100%;
                    margin: 0;
                    .mat-card-title{
                        font-size: 28px;
                        color: #ffffff;
                        font-family: $font--1--normal;
                        text-transform: uppercase;
                        margin-bottom: 0;
                    }
                    .amt{
                        font-size: 70px;
                        font-family: $font--1--medium;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        color: #ffffff;
                        span{
                            font-size: 30px;
                            margin-top: 20px;
                        }
                    }
                    .pm{
                        text-transform: uppercase;
                        font-size: 14px;
                        color: #fff;
                        font-family: $font--1;
                        margin-top: -15px;
                    }
                }
            }
            .mat-card-content{
                ul{
                    li{
                        list-style-type: none;
                        text-transform: uppercase;
                        font-size: 15px;
                        font-family: $font--1;
                        border-top: 1px solid #e2e9f0;
                        color: #fff;
                        padding: 9px 2px;
                    }
                }
            }
            .mat-card-actions{
                padding-top: 5px;
                .get--stat--btn{
                    width: 144px;
                    height: 40px;
                    font-size: 14px;
                    font-family: $font--1--medium;
                    color: #333;
                    background-color: #fafafa;
                }
                &:last-child{
                    margin: 0;
                }
            }

            &.security{
                background-color: #00d797;   
                height: 443px;
                margin-top: -45px;
                box-shadow: 0 0 7px #716f6f;
                z-index: 9;            
            }
            &.admin{
                background-color: #6584fb;
                border-radius: 3px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
         
        }
    }

    // contact us
    .contactus--wrapper{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 71vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(20,20,20,.6);
            z-index: 1;
        }

        h2{
            font-size: 48px;
            color: #fff;
            font-family: $font--1--medium !important;
            line-height: 46px;
            margin:0 0 30px 0;
            z-index: 11;
        }
        p{
            font-size: 16px;
            color: #fff;
            margin-bottom: 40px;
            z-index: 11;
            font-family: $font--1;
        }
        .contact--form{
            background-color: rgba(255, 255, 255, 0.36);
            padding: 40px 30px 20px 30px;
            z-index: 11;
            width: 48%;
            .mat-form-field{
                font-family: Gotham;
            }         
            ::-webkit-input-placeholder {
                color: #fff;
            }            
            :-ms-input-placeholder {
                color: #fff;
            }            
            ::placeholder {
                color: #fff;
            }
            .contactus--btn{
                width: 140px;
                height: 40px;
                border-radius: 2px;
                background-color: #00d797;
                font-size: 14px;
                color: #fff;
                font-family: $font--1--medium !important;
            }
            ::ng-deep .mat-form-field {
                margin-bottom: 15px;
            }
        }
    }


    // newsletter
    .newsletter--wrapper{
        background-color: #00d797;
        padding: 35px 0 25px;
        h5{
            font-size: 28px;
            margin: 0;
            color: #fff;
            font-family: $font--1--medium !important;
        }
        p{
            margin:0;
            font-size: 16px;
            color: #fff;
        }
        
        .news--form{
            display: flex;
            align-items: center;
            ::ng-deep .mat-form-field-wrapper{
                padding: 0;
                margin: 0;
            }
            ::ng-deep .mat-form-field{
                width: 70%;
                margin-right: 20px;
            }
            ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
                padding: 8px 0 8px 0;
            }
            .submit--btn{
                width: 109px;
                height: 40px;
                border-radius: 2px;
                background-color: transparent;
                font-size: 14px;
                color: #fff;
                font-family: $font--1--medium !important;
                border: 2px solid #fafafa;
            }
        }
    }

    // footer 
    .main--footer--wrapper{
        background-color: #f4f4f4;
        padding: 55px 0 35px 0;
        color: #000;

        .pl--50{
            padding-left: 50px;
        }

        .footer--header{
            font-size: 22px;
            font-family: $font--1--medium;
            margin: 0 0 25px 0;
        }
        .company--address{
          
            .cont--wrap{
                display: flex;
                align-items: center;
                margin-bottom: 25px;

                .footer-icon{
                    font-size: 18px;
                    margin-right: 1px;
                    height: 19px;
                    align-self: flex-start;
                    margin-top: 1px;
                    color: #333;
                    flex-shrink: 0;
                }
                .tag--info{
                    font-family:$font--1;
                    font-size: 14px;
                    color: #333;
                }
            }
            
        }

        .footer--services{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                margin-bottom: 18px;
                a{
                    color: #333;
                    font-size: 14px;
                    &:hover{
                        color: #00d797;
                    }
                }
                
            }
        }
        .social--icons{
            ul{
                li{
                    display: inline-block;
                    list-style-type: none;
                    a{
                        width: 32px;
                        height: 32px;
                        border:1px solid #707070;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        margin-right: 20px;

                        .mat-icon{
                            height: 20px;
                            width: 20px;
                            font-size: 20px;
                            color: #707070;
                        }
                    }
                    &:last-child{
                        a{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        
    }
    .copyright--footer{
        background-color:#333;
        padding: 27px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            margin: 0;
            font-size: 14px;
            color: #fff;
            font-family: $font--1;
        }
    }


    .back--to--top {
        width: 67px;
        height: 67px;
        border: 2px solid #fff;
        border-radius: 50%;
        background-color: #00d797;
        color: #fff;
        position: fixed;
        right: 30px;
        bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 99999;

       .mat-icon {
            height: 40px;
            width: 40px;
            font-size: 40px;
        }
    }

    // style for outline form 

    ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick,
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label,
    ::ng-deep .mat-input-element,
    ::ng-deep .mat-form-field-label,
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
        color: #fff;
    }
    
   

}


/*-------------------------------------------------------------------------------------------------------------------------------------------------
    Media query (start here)
--------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (device-height: 320px) and (device-width: 568px){
    .csa--wrapper .banner--wrapper {
        height: 63vh !important;
    }
    .csa--wrapper .contactus--wrapper {
        height: 132vh !important;
    }
    
}
@media (device-height: 568px) and (device-width: 320px){
    .csa--wrapper .banner--wrapper {
        height: 47vh !important;
    }
    .csa--wrapper .contactus--wrapper {
        height: 76vh !important;
    }
    .csa--wrapper .newsletter--wrapper .news--form .mat-form-field {
        width: 66% !important;
        margin-right: 10px !important;
    }
}
@media (device-height: 667px) and (device-width: 375px){
    .csa--wrapper .banner--wrapper {
        height: 37vh !important;
    }
    .csa--wrapper .contactus--wrapper {
        height: 64vh !important;
    }
}
@media (device-height: 375px) and (device-width: 667px){
    .csa--wrapper .banner--wrapper .banner--containt{
        width: 84% !important;
    }
    .csa--wrapper .main--footer--wrapper .social--icons ul li a{
        margin-right: 8px;
    }
}

// iPad (for temparary, its an jugad > remove after find correct solution)
@media (device-height: 1024px) and (device-width: 768px){
  .csa--wrapper .banner--wrapper {
      height: 30vh !important;
  }
  .csa--wrapper .feature--comapanies {
        padding: 47px 0 40px 0 !important;
    }
    .csa--wrapper .contactus--wrapper {
        height: 48vh !important;;
    }
}
// iPad (for temparary, its an jugad > remove after find correct solution)




@media only screen and (max-width: 599px) {
    .container{
        padding: 0 20px;
    }
    .csa--wrapper .banner--wrapper .banner--containt {
        width: 90%;
        padding: 20px;
    }
    .csa--wrapper .banner--wrapper .banner--containt h1 {
        font-size: 18px;
        line-height: 25px;
    }
    .csa--wrapper .banner--wrapper .banner--containt p {
        font-size: 13px;
        margin: 10px;
    }
    .csa--wrapper .banner--wrapper {
        height: 30vh;
    }
    .csa--wrapper .feature--banner .feature--box{
        height: auto;
    }
    .csa--wrapper .feature--banner .feature--box h5{
        font-size: 18px;
        max-height: unset;
        min-height: unset;
    }
    .csa--wrapper .feature--banner .feature--box p{
        white-space: normal;
    }
    .csa--wrapper .contactus--wrapper h2,
    .csa--wrapper .subscription--wrapper h2,
    .csa--wrapper .user--feedback h2,
    .csa--wrapper .how--wrapper h2,
    .csa--wrapper .about--security--wrapper h4 {
        font-size: 23px;
        margin: 0 0 10px 0;
    }
 
    .csa--wrapper .about--security--wrapper h4{
        line-height: 25px;
        margin-top: 15px;
    }
    .csa--wrapper .about--security--wrapper p {
        font-size: 14px;
    }
    .csa--wrapper .how--wrapper h2{
        margin-bottom: 25px !important;
    }
    .csa--wrapper .about--security--wrapper{
        margin: 30px 0;
    }
    .csa--wrapper .how--wrapper{
        padding: 50px 0 0 0;
    }
    .csa--wrapper .user--feedback {
        padding: 20px 0;
    }
    .csa--wrapper .user--feedback p{
        margin-bottom: 15px;
    }
    .csa--wrapper .contactus--wrapper .contact--form {
        padding: 20px;
        width: 90%;
    }
    .csa--wrapper .subscription--wrapper{
        padding: 25px 0;
    }
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header .mat-card-header-text .mat-card-title {
        font-size: 25px;
    }
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header .mat-card-header-text .amt {
        font-size: 55px;
    }
    .csa--wrapper .how--wrapper .content {
        padding-right: 0;
        margin-bottom: 50px;
        text-align: center;
    }
    .csa--wrapper .how--wrapper .content img {
        margin-bottom: 10px;
    }
   
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header ::ng-deep   .mat-card-header-text .amt {
        font-size: 42px;
    }
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header ::ng-deep  .mat-card-header-text .amt span {
        font-size: 18px;
        margin-top: 11px;
    }
    .csa--wrapper .how--wrapper .content h5 {
        font-size: 16px;
        line-height: 20px;
    }
    .csa--wrapper .feature--comapanies {
        padding: 12px 0;
    }
    .csa--wrapper .feature--comapanies .items {
        margin: 0 7px;
    }    
    
    .csa--wrapper .subscription--wrapper .plan--box{
        padding: 20px;
    }
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header ::ng-deep  .mat-card-header-text .mat-card-title {
        font-size: 24px;
    }
    .csa--wrapper .subscription--wrapper .plan--box.security {
        height: auto;
        margin-top: 0;
        margin: 20px 0;
    }
   
    .csa--wrapper .newsletter--wrapper h5 {
        font-size: 20px;
    }
    .csa--wrapper .subscription--wrapper h2{
        margin: 0 0 20px 0;
    }
    .csa--wrapper .contactus--wrapper{
        height: 54vh;
    }
    .csa--wrapper .contactus--wrapper h2{
        line-height: 22px;
    }
    .csa--wrapper .contactus--wrapper p{
        margin-bottom: 14px;
    }
    .csa--wrapper .newsletter--wrapper .news--form .mat-form-field {
        width: 100%;
    }
    .csa--wrapper .newsletter--wrapper p{
        margin-bottom: 15px;
    }
    .csa--wrapper .back--to--top{
        width: 35px;
        height: 35px;
        right: 10px;
    }
    .csa--wrapper .back--to--top .mat-icon {
        height: 25px;
        width: 25px;
        font-size: 25px;
    }
    .csa--wrapper .main--footer--wrapper .pl--50 {
        padding-left: 0;
    }
    .csa--wrapper .main--footer--wrapper .footer--header {
        font-size: 18px;    
        margin: 0 0 12px 0;
        border-top: 1px solid #efe9e9;
        margin-top: 5px;
        padding-top: 10px;
    }
 
    .csa--wrapper .main--footer--wrapper {
        padding: 23px 0 20px 0;
        text-align: center;
    }
    .csa--wrapper .main--footer--wrapper .company--address .cont--wrap{
        justify-content: center;
        margin-bottom: 15px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 960px){
    .container{
        padding: 0 30px;
    }
    .csa--wrapper .banner--wrapper .banner--containt h1 {
        font-size: 18px;
        line-height: 25px;
    }
    .csa--wrapper .banner--wrapper .banner--containt p {
        font-size: 13px;
        margin: 10px;
    }
    .csa--wrapper .banner--wrapper {
        height: 70vh;
    }
    .csa--wrapper .feature--banner .feature--box h5{
        font-size: 18px;
    }
    .csa--wrapper .contactus--wrapper h2,
    .csa--wrapper .subscription--wrapper h2,
    .csa--wrapper .user--feedback h2,
    .csa--wrapper .how--wrapper h2,
    .csa--wrapper .about--security--wrapper h4 {
        font-size: 23px;
        margin: 0 0 10px 0;
    }
 
    .csa--wrapper .how--wrapper h2{
        margin-bottom: 25px !important;
    }
    .csa--wrapper .about--security--wrapper{
        margin: 30px 0;
    }
    .csa--wrapper .how--wrapper{
        padding: 50px 0 0 0;
    }
    .csa--wrapper .user--feedback {
        padding: 50px 0;
    }
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header .mat-card-header-text .mat-card-title {
        font-size: 25px;
    }
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header .mat-card-header-text .amt {
        font-size: 55px;
    }
    .csa--wrapper .how--wrapper .content {
        padding-right: 0;
        margin-bottom: 50px;
        text-align: center;
    }
    .csa--wrapper .how--wrapper .content img {
        margin-bottom: 10px;
    }
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header ::ng-deep   .mat-card-header-text .amt {
        font-size: 50px;
    }
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header ::ng-deep  .mat-card-header-text .amt span {
        font-size: 23px;
        margin-top: 13px;
    }
    .csa--wrapper .how--wrapper .content h5 {
        font-size: 19px;
        line-height: 25px;
    }
    .csa--wrapper .subscription--wrapper .plan--box{
        padding: 20px;
    }
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header ::ng-deep  .mat-card-header-text .mat-card-title {
        font-size: 24px;
    }
    .csa--wrapper .subscription--wrapper .plan--box.security {
        height: auto;
        margin-top: 0;
        margin: 20px 0;
    }
   
    .csa--wrapper .newsletter--wrapper h5 {
        font-size: 20px;
    }
    .csa--wrapper .subscription--wrapper h2{
        margin: 0 0 20px 0;
    }
    .csa--wrapper .contactus--wrapper{
        height: 127vh;
    }
    .csa--wrapper .contactus--wrapper h2{
        line-height: 22px;
    }
    .csa--wrapper .contactus--wrapper p{
        margin-bottom: 14px;
    }
    .csa--wrapper .newsletter--wrapper .news--form .mat-form-field {
        width: 100%;
    }
    .csa--wrapper .newsletter--wrapper p{
        margin-bottom: 15px;
    }
    .csa--wrapper .back--to--top{
        width: 35px;
        height: 35px;
    }
    .csa--wrapper .back--to--top .mat-icon {
        height: 25px;
        width: 25px;
        font-size: 25px;
    }
}
@media only screen and (min-width: 961px) and (max-width: 1279px){
    .container{
        padding: 0 30px;
    }
    .csa--wrapper .banner--wrapper .banner--containt h1 {
        font-size: 32px;
    }
    .csa--wrapper .feature--banner .feature--box h5{
        font-size: 20px;
    }
    .csa--wrapper .contactus--wrapper h2,
    .csa--wrapper .subscription--wrapper h2,
    .csa--wrapper .user--feedback h2,
    .csa--wrapper .how--wrapper h2,
    .csa--wrapper .about--security--wrapper h4 {
        font-size: 30px;
    }
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header .mat-card-header-text .mat-card-title {
        font-size: 25px;
    }
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header .mat-card-header-text .amt {
        font-size: 55px;
    }
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header .mat-card-header-text .amt span {
        font-size: 25px;
        margin-top: 10px;
    }
    .csa--wrapper .how--wrapper .content h5 {
        font-size: 24px;
    }
    .csa--wrapper .subscription--wrapper .plan--box{
        padding: 20px;
    }
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header ::ng-deep  .mat-card-header-text .mat-card-title {
        font-size: 24px;
    }
    .csa--wrapper .subscription--wrapper .plan--box.security {
        height: 398px;
        margin-top: -23px;
    }
    .csa--wrapper .newsletter--wrapper h5 {
        font-size: 20px;
    }
    .csa--wrapper .subscription--wrapper h2{
        margin: 0 0 50px 0;
    }
    
}
@media only screen and (min-width: 1280px) and (max-width: 1440px){
    .csa--wrapper .banner--wrapper .banner--containt h1 {
        font-size: 36px;
    }
    .csa--wrapper .feature--banner .feature--box h5{
        font-size: 20px;
    }
    .csa--wrapper .contactus--wrapper h2,
    .csa--wrapper .subscription--wrapper h2,
    .csa--wrapper .user--feedback h2,
    .csa--wrapper .how--wrapper h2,
    .csa--wrapper .about--security--wrapper h4 {
        font-size: 40px;
    }
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header .mat-card-header-text .mat-card-title {
        font-size: 25px;
    }
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header .mat-card-header-text .amt {
        font-size: 55px;
    }
    .csa--wrapper .subscription--wrapper .plan--box .mat-card-header .mat-card-header-text .amt span {
        font-size: 25px;
        margin-top: 10px;
    }
}
@media only screen and (min-width: 1441px) and (max-width: 1550px){
    .sidenav{
        display: none;
    }   
    
}